<template>
  <div v-if="queue">
    <h2 class="mb-5">
      Queue: {{ queueName }}
    </h2>

    <div class="mb-5">
      <div><strong>Created At:</strong> {{ $moment.unix(queue.CreatedTimestamp).format('LLLL') }}</div>
      <div><strong>Last Updated At:</strong> {{ $moment.unix(queue.LastModifiedTimestamp).format('LLLL') }}</div>
    </div>

    <v-simple-table class="mb-5">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Messages
            </th>
            <th class="text-left">
              Delayed Messages
            </th>
            <th class="text-left">
              Invisible Messages
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ queueMessagesSpecs.messages }}</td>
            <td>{{ queueMessagesSpecs.messages_delayed }}</td>
            <td>{{ queueMessagesSpecs.messages_invisible }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Receive Message Wait Time (seconds)
            </th>
            <th class="text-left">
              Delayed (seconds)
            </th>
            <th class="text-left">
              Visibility Timeout (seconds)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ queueConfigurations.receive_message_wait_time }}</td>
            <td>{{ queueConfigurations.delay_seconds }}</td>
            <td>{{ queueConfigurations.visibility_timeout }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      queue: null
    }
  },
  computed: {
    queueName () {
      return this.$route.params.name
    },
    queueMessagesSpecs () {
      if (this.queue !== null) {
        return {
          messages: this.queue.ApproximateNumberOfMessages,
          messages_delayed: this.queue.ApproximateNumberOfMessagesDelayed,
          messages_invisible: this.queue.ApproximateNumberOfMessagesNotVisible
        }
      }

      return {}
    },
    queueConfigurations () {
      if (this.queue !== null) {
        return {
          delay_seconds: this.queue.DelaySeconds,
          visibility_timeout: this.queue.VisibilityTimeout,
          receive_message_wait_time: this.queue.ReceiveMessageWaitTimeSeconds
        }
      }

      return {}
    }
  },
  mounted () {
    this.loadDetails()
  },
  methods: {
    loadDetails () {
      this.$axios.get('/api/queue/' + this.queueName).then((response) => {
        this.queue = response.data
      })
    }
  }
}
</script>

<style scoped>

</style>
