<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="headline">Current Queue</span>

        <v-spacer />

        <v-btn icon @click="showCreateQueueDialog = true">
          <v-icon>mdi-plus</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-list>
          <v-list-item-group color="primary">
            <v-list-item
              v-for="(queue, i) in queues"
              :key="i"
              :to="'/queue/' + queue.name"
            >
              <v-list-item-content>
                <v-list-item-title v-text="queue.name" />
                <v-list-item-subtitle v-text="queue.link" />
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon color="red darken-4" @click.stop.prevent="showConfirmDeleteDialog(queue.name)">
                  <v-icon>mdi-trash-can-outline</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card-text>
    </v-card>
    <create-queue-dialog v-model="showCreateQueueDialog" @hide="hideCreateQueueDialog" />
    <confirmation-dialog v-model="showConfirmationDialog" @hide="hideConfirmDeleteDialog" />
  </div>
</template>

<script>

import CreateQueueDialog from '../../components/CreateQueueDialog'
import ConfirmationDialog from '../../components/ConfirmationDialog'
import action from '~/constants/actions'

export default {
  components: {
    CreateQueueDialog,
    ConfirmationDialog
  },
  data () {
    return {
      showCreateQueueDialog: false,
      showConfirmationDialog: false,
      selectedQueueName: null
    }
  },
  computed: {
    queues () {
      return this.$store.state.queue.list
    }
  },
  mounted () {
    this.loadQueues()
  },
  methods: {
    loadQueues () {
      this.$store.dispatch(action.QUEUE.LOAD)
    },
    hideCreateQueueDialog ({ reload }) {
      this.showCreateQueueDialog = false
      if (reload === true) {
        this.loadQueues()
      }
    },
    hideConfirmDeleteDialog ({ affirmative }) {
      if (affirmative === true && this.selectedQueueName !== null) {
        this.deleteQueue()
      } else {
        this.selectedQueueName = null
      }
      this.showConfirmationDialog = false
    },
    showConfirmDeleteDialog (name) {
      this.selectedQueueName = name
      this.showConfirmationDialog = true
    },
    deleteQueue () {
      this.$axios.delete('api/queue/' + this.selectedQueueName).then((response) => {
        this.loadQueues()
      })
    }
  }
}
</script>

<style scoped>

</style>
