<template>
  <v-dialog v-model="value" width="200" @click:outside="hide">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title v-text="title" />

      <v-card-text>
        <v-row>
          <v-col>
            <p v-text="message" />
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-btn :color="affirmationButtonColor" text @click="hide(true)" v-text="affirmationButtonText" />
        <v-btn :color="cancellationButtonColor" text @click="hide" v-text="cancellationButtonText" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ConfirmationDialog',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: 'Confirmation'
    },
    message: {
      type: String,
      default: 'Please confirm your action'
    },
    affirmationButtonText: {
      type: String,
      default: 'Yes'
    },
    affirmationButtonColor: {
      type: String,
      default: 'primary'
    },
    cancellationButtonText: {
      type: String,
      default: 'Cancel'
    },
    cancellationButtonColor: {
      type: String,
      default: 'shades'
    }
  },
  methods: {
    hide (affirmative) {
      this.$emit('hide', {
        affirmative
      })
    }
  }
}
</script>

<style scoped>

</style>
