<template>
  <v-dialog v-model="value" width="500" @click:outside="hide">
    <v-card>
      <v-card-title
        class="headline grey lighten-2"
        primary-title
      >
        Create New Queue
      </v-card-title>

      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field v-model="createQueueForm.QueueName" label="Queue Name" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-slider
              v-model="createQueueForm.Attributes.DelaySeconds"
              label="Delay Seconds"
              max="900"
              min="0"
              thumb-label
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="createQueueForm.Attributes.MaximumMessageSize"
              type="number"
              label="Maximum Message Size"
              min="1024"
              max="262144"
              suffix="bytes"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="createQueueForm.Attributes.MessageRetentionPeriod"
              type="number"
              label="Message Retention Period"
              max="1209600"
              min="60"
              suffix="seconds"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-slider
              v-model="createQueueForm.Attributes.ReceiveMessageWaitTimeSeconds"
              label="Receive Message Wait Time Seconds"
              max="20"
              min="0"
              thumb-label
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="createQueueForm.Attributes.VisibilityTimeout"
              type="number"
              label="Visibility Timeout"
              max="43200"
              min="0"
              suffix="seconds"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-checkbox v-model="createQueueForm.Attributes.FiFoQueue" label="FiFo Queue" />
          </v-col>
        </v-row>
        <v-row v-if="createQueueForm.Attributes.FiFoQueue === true">
          <v-col>
            <v-checkbox
              v-model="createQueueForm.Attributes.ContentBasedDeduplication"
              label="Content Based Deduplication"
            />
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" text :loading="createQueueForm.submitting" @click="submitCreateQueueForm">
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Form from '../classes/Form'

export default {
  name: 'CreateQueueDialog',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      newTag: {
        key: null,
        value: null
      },
      createQueueForm: new Form({
        QueueName: null,
        Attributes: {
          DelaySeconds: 0,
          MaximumMessageSize: 262144,
          MessageRetentionPeriod: 345600,
          // Policy:
          ReceiveMessageWaitTimeSeconds: 0,
          VisibilityTimeout: 30,
          FiFoQueue: false,
          ContentBasedDeduplication: false
        },
        tags: {}
      })
    }
  },
  methods: {
    hide (reload) {
      this.$emit('hide', {
        reload
      })
    },
    submitCreateQueueForm () {
      this.createQueueForm.submit('post', '/api/queue').then((response) => {
        this.hide(true)
      })
    }
  }
}
</script>

<style scoped>

</style>
