<template>
  <v-app>
    <v-app-bar
      dark
      absolute
      app
      dense
      flat
      hide-on-scroll
      color="#16191f"
    >
      <v-toolbar-title>SQS Client</v-toolbar-title>
      <v-spacer />
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-content>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-breadcrumbs v-if="showBreadcrumb" :items="breadcrumbItems">
          <template v-slot:item="{ item }">
            <v-breadcrumbs-item
              :to="item.href"
              :disabled="item.disabled"
              :exact="true"
            >
              {{ item.text }}
            </v-breadcrumbs-item>
          </template>
        </v-breadcrumbs>
        <!-- If using vue-router -->
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  computed: {
    showBreadcrumb () {
      return this.breadcrumbItems.length > 1
    },
    breadcrumbItems () {
      // return this.$store.getters['breadcrumb/current'](this.$route.name)
      const items = this.$store.getters['breadcrumb/current'](this.$route.name)
      return items.map((item) => {
        if (item.text.indexOf(':') === 0) {
          item.text = this.$route.params[item.text.replace(':', '')]
        }
        return item
      })
    }
  }
}
</script>
