<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-center">
        <v-row>
          <v-col>
            <nuxt-link to="/queue" class="text-decor-none">
              <v-card>
                <v-img
                  :src="queueImage"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200"
                  width="200"
                >
                  <v-card-title>Queue</v-card-title>
                </v-img>
              </v-card>
            </nuxt-link>
          </v-col>
          <v-col>
            <nuxt-link to="/queue" class="text-decor-none">
              <v-card>
                <v-img
                  :src="configImage"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200"
                  width="200"
                >
                  <v-card-title>Configurations</v-card-title>
                </v-img>
              </v-card>
            </nuxt-link>
          </v-col>
        </v-row>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>

export default {
  data () {
    return {
      queueImage: require('~/assets/images/amazon-sqs.svg'),
      configImage: require('~/assets/images/settings.svg')
    }
  }
}
</script>
